body * {
  margin:0;
  padding:0;
  color:black;
}
body {
  background-color: #3468a7;
  font-size: 10px;
}
.submitButton {
  height: 1.5rem;
  width: 12rem;
}
.inputForm {
  background-color:white;
}